<!DOCTYPE html>
<html>
	<head>
		<title><%= htmlWebpackPlugin.options.title %></title>
	</head>
	<body>
		<% if (htmlWebpackPlugin.options.appMountId) { %>
	      <div id="<%= htmlWebpackPlugin.options.appMountId%>"></div>
	    <% } %>
	</body>
</html>